[submodule "SDKs/Spatial_Audio_Framework"]
	path = SDKs/Spatial_Audio_Framework
	url = https://github.com/leomccormack/Spatial_Audio_Framework.git
	branch = master
[submodule "SDKs/JUCE"]
	path = SDKs/JUCE
	url = https://github.com/juce-framework/JUCE.git
	shallow = true