[submodule "SDKs/Spatial_Audio_Framework"]
	path = SDKs/Spatial_Audio_Framework
	url = https://github.com/rapolasd/Spatial_Audio_Framework
	branch = tv-convolver
[submodule "SDKs/JUCE"]
	path = SDKs/JUCE
	url = https://github.com/juce-framework/JUCE.git
	shallow = true
